In [1]:
# Importing all needed libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading the data set
df = pd.read_csv("avocado.csv")
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [3]:
# Droping out thr 'Unnamed: 0' and 'Date' column
df = df.drop(['Unnamed: 0', 'Date'], axis=1)

In [4]:
df

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...
18244,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [5]:
# Looking at the values in the 'type' column
df['type'].value_counts()

conventional    9126
organic         9123
Name: type, dtype: int64

In [6]:
# Mapping categorical column 'type' to numerical values
df['type'] = df['type'].map({'conventional':0, 'organic':1})

In [7]:
# Looking at the values in the 'type' column
df['region'].value_counts()

RichmondNorfolk        338
Northeast              338
Jacksonville           338
Louisville             338
Spokane                338
Southeast              338
Plains                 338
RaleighGreensboro      338
HartfordSpringfield    338
SouthCarolina          338
Pittsburgh             338
LasVegas               338
Tampa                  338
Midsouth               338
GreatLakes             338
Sacramento             338
SanDiego               338
Orlando                338
West                   338
Albany                 338
CincinnatiDayton       338
StLouis                338
TotalUS                338
SanFrancisco           338
Portland               338
Denver                 338
Detroit                338
DallasFtWorth          338
NorthernNewEngland     338
Charlotte              338
Boise                  338
Boston                 338
Nashville              338
GrandRapids            338
Columbus               338
Chicago                338
Seattle                338
SouthCentral           338
BuffaloRochester       338
California             338
PhoenixTucson          338
Houston                338
HarrisburgScranton     338
Atlanta                338
BaltimoreWashington    338
Indianapolis           338
Roanoke                338
NewOrleansMobile       338
LosAngeles             338
Syracuse               338
Philadelphia           338
NewYork                338
MiamiFtLauderdale      338
WestTexNewMexico       335
Name: region, dtype: int64

In [8]:
# Defining target imputation function.
def target_imputation(df, target, column):
    mapper = dict()
    for value in df[column].unique():
        mapper[value] = df[df[column]==value][target].mean()
    return mapper

In [9]:
# Getting the mapper for the 'region' column
mapper = target_imputation(df, 'AveragePrice', 'region')

In [10]:
# Mapping out the region
df['region'] = df['region'].map(mapper)

In [11]:
df

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,0,2015,1.561036
1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,0,2015,1.561036
2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,0,2015,1.561036
3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,0,2015,1.561036
4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,0,2015,1.561036
...,...,...,...,...,...,...,...,...,...,...,...,...
18244,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,1,2018,1.261701
18245,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,1,2018,1.261701
18246,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,1,2018,1.261701
18247,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,1,2018,1.261701
18248,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,1,2018,1.261701

In [12]:
# Shuffling the data frames rows
df = df.sample(frac=1)

In [13]:
df

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
7179,1.63,4035234.26,242271.89,2580466.19,39314.57,1173181.61,762656.42,355666.02,54859.17,0,2017,1.601923
7103,1.14,2390308.58,48483.07,1906061.15,1561.82,434202.54,411052.38,23130.51,19.65,0,2017,1.727574
4283,1.49,1275952.93,18600.18,714407.25,13049.64,529895.86,496919.98,31781.23,1194.65,0,2016,1.727574
10017,2.14,2878.54,113.32,2199.02,0.00,566.20,553.88,12.32,0.00,1,2015,1.818639
9401,1.55,4265.98,19.04,139.85,0.00,4107.09,4107.09,0.00,0.00,1,2015,1.516834
...,...,...,...,...,...,...,...,...,...,...,...,...
10387,1.50,821.99,11.28,2.65,0.00,808.06,808.06,0.00,0.00,1,2015,1.428491
13298,1.72,4411.99,501.43,3532.36,0.00,378.20,33.89,344.31,0.00,1,2016,1.212101
11917,1.60,11075.85,3654.28,4477.34,0.00,2944.23,1770.00,1174.23,0.00,1,2015,1.261701
17045,2.12,40058.59,1411.24,16587.80,24.73,22034.82,281.45,21753.37,0.00,1,2017,1.442574
4887,0.91,156699.18,59481.98,58348.71,182.56,38685.93,37521.60,31.00,1133.33,0,2016,1.247929

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [15]:
# Getting the numpy values for the data frame
X = df.iloc[:, 1:].values
y = df['AveragePrice'].values

In [16]:
# Splitting out the data datase in train and test subset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
# Fitting the Linear Regression model
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression()

In [18]:
# Making the prediction on the test dataset
yhat = linear.predict(X_test)

In [19]:
# Looking at the Mean Absolute error
mean_absolute_error(y_test, yhat)

0.19833628781599488

In [22]:
#!pip install kydavra

In [23]:
# Appling the ElasticNet Selector on data set
from kydavra import ElasticNetSelector
enet = ElasticNetSelector()
selected_cols = enet.select(df, 'AveragePrice')

In [24]:
selected_cols

['type', 'year', 'region']

In [25]:
# Getting the numpy arrayd
X = df[selected_cols].values
y = df['AveragePrice'].values

In [26]:
# Splitting out the data datase in train and test subset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
# Fitting the Linear Regression model
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression()

In [28]:
# Making the prediction on the test dataset
yhat = linear.predict(X_test)

In [29]:
# Looking at the Mean Absolute error
mean_absolute_error(y_test, yhat)

0.19911139965900743

In [30]:
from kydavra import MixerSelector, PValueSelector

In [31]:
# Combining selectors using the MixerSelector
mixer = MixerSelector([
    ElasticNetSelector(),
    PValueSelector(),
] , strategy = 'intersection')

In [32]:
# Appling feature selection
selected_cols = mixer.select(df, 'AveragePrice')

In [33]:
selected_cols

['year', 'type', 'region']

In [34]:
X = df[selected_cols].values
y = df['AveragePrice'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
linear = LinearRegression()
linear.fit(X_train, y_train)
yhat = linear.predict(X_test)
mean_absolute_error(y_test, yhat)

0.19911139965900831

In [35]:
# Trying another strategy on out data
mixer = MixerSelector([
    ElasticNetSelector(),
    PValueSelector(),
], strategy='union')

In [36]:
# Appling feature selection
selected_cols = mixer.select(df, 'AveragePrice')

In [37]:
selected_cols

['4225', 'region', 'year', 'type', 'XLarge Bags', '4770']

In [38]:
X = df[selected_cols].values
y = df['AveragePrice'].values

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [40]:
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression()

In [41]:
yhat = linear.predict(X_test)

In [42]:
mean_absolute_error(y_test, yhat)

0.1984760164598601