In [1]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_excel('baza-de-date.xlsx', sheet_name='Database')
df

,Country,Year,GDP in euro,Number of cases,Interest rate cut,Per capita income,Saving rate,Ownership,Capital mobilization,Balance of payments,Unemployment rate,Budget deficit or suplus,Consumption,Eurozone,Non-euro,Pre-covid,Post-covid
0,Belgia,2018Q1,113350.0,NaN,0.85,113900.0,11.38,NaN,101.9,-1669.0,308,-7.2,58775.0,1,0,1,0
1,Belgia,2018Q2,114752.0,NaN,0.81,115494.0,11.39,107.27,107.7,2168.0,304,5.0,59380.0,1,0,1,0
2,Belgia,2018Q3,115127.0,NaN,0.72,116002.0,11.53,109.03,102.8,-3162.0,300,-4.7,59739.0,1,0,1,0
3,Belgia,2018Q4,117190.0,NaN,0.80,119514.0,12.08,108.56,124.4,-2327.0,290,3.0,60354.0,1,0,1,0
4,Belgia,2019Q1,117479.0,NaN,0.67,118334.0,13.07,109.56,106.9,-1267.0,284,-8.3,60445.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,Regatul Unit,2019Q3,618880.6,NaN,0.60,612293.0,6.20,111.40,110.5,-40963.8,1333,-2.7,396191.1,0,1,0,1
304,Regatul Unit,2019Q4,649860.6,NaN,0.71,644928.0,7.38,111.50,109.0,12985.9,1231,-4.0,414269.6,0,1,0,1
305,Regatul Unit,2020Q1,642870.4,NaN,0.55,629401.0,9.13,111.76,110.2,-6258.0,1321,-0.3,402783.4,0,1,0,1
306,Regatul Unit,2020Q2,536776.7,NaN,0.25,514841.0,28.12,111.76,78.1,-13648.7,1290,-25.9,305501.4,0,1,0,1
307,Regatul Unit,2020Q3,596839.9,22428591.0,0.19,583738.0,NaN,107.55,97.9,-36610.5,1650,NaN,355555.6,0,1,0,1

In [3]:
df.columns

Index(['Country ', 'Year', 'GDP in euro ', 'Number of cases',
       'Interest rate cut', 'Per capita income', 'Saving rate', 'Ownership',
       'Capital mobilization', 'Balance of payments', 'Unemployment rate',
       'Budget deficit or suplus', 'Consumption', 'Eurozone', 'Non-euro',
       'Pre-covid', 'Post-covid'],
      dtype='object')

In [4]:
df.isna().any()

Country                     False
Year                        False
GDP in euro                 False
Number of cases              True
Interest rate cut           False
Per capita income            True
Saving rate                  True
Ownership                    True
Capital mobilization        False
Balance of payments         False
Unemployment rate           False
Budget deficit or suplus     True
Consumption                 False
Eurozone                    False
Non-euro                    False
Pre-covid                   False
Post-covid                  False
dtype: bool

In [5]:
#df.dropna(axis=0, inplace=True)

In [6]:
df.drop('Number of cases', axis='columns', inplace=True)
df

,Country,Year,GDP in euro,Interest rate cut,Per capita income,Saving rate,Ownership,Capital mobilization,Balance of payments,Unemployment rate,Budget deficit or suplus,Consumption,Eurozone,Non-euro,Pre-covid,Post-covid
0,Belgia,2018Q1,113350.0,0.85,113900.0,11.38,NaN,101.9,-1669.0,308,-7.2,58775.0,1,0,1,0
1,Belgia,2018Q2,114752.0,0.81,115494.0,11.39,107.27,107.7,2168.0,304,5.0,59380.0,1,0,1,0
2,Belgia,2018Q3,115127.0,0.72,116002.0,11.53,109.03,102.8,-3162.0,300,-4.7,59739.0,1,0,1,0
3,Belgia,2018Q4,117190.0,0.80,119514.0,12.08,108.56,124.4,-2327.0,290,3.0,60354.0,1,0,1,0
4,Belgia,2019Q1,117479.0,0.67,118334.0,13.07,109.56,106.9,-1267.0,284,-8.3,60445.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,Regatul Unit,2019Q3,618880.6,0.60,612293.0,6.20,111.40,110.5,-40963.8,1333,-2.7,396191.1,0,1,0,1
304,Regatul Unit,2019Q4,649860.6,0.71,644928.0,7.38,111.50,109.0,12985.9,1231,-4.0,414269.6,0,1,0,1
305,Regatul Unit,2020Q1,642870.4,0.55,629401.0,9.13,111.76,110.2,-6258.0,1321,-0.3,402783.4,0,1,0,1
306,Regatul Unit,2020Q2,536776.7,0.25,514841.0,28.12,111.76,78.1,-13648.7,1290,-25.9,305501.4,0,1,0,1
307,Regatul Unit,2020Q3,596839.9,0.19,583738.0,NaN,107.55,97.9,-36610.5,1650,NaN,355555.6,0,1,0,1

In [7]:
df2 = df.dropna()
df

,Country,Year,GDP in euro,Interest rate cut,Per capita income,Saving rate,Ownership,Capital mobilization,Balance of payments,Unemployment rate,Budget deficit or suplus,Consumption,Eurozone,Non-euro,Pre-covid,Post-covid
0,Belgia,2018Q1,113350.0,0.85,113900.0,11.38,NaN,101.9,-1669.0,308,-7.2,58775.0,1,0,1,0
1,Belgia,2018Q2,114752.0,0.81,115494.0,11.39,107.27,107.7,2168.0,304,5.0,59380.0,1,0,1,0
2,Belgia,2018Q3,115127.0,0.72,116002.0,11.53,109.03,102.8,-3162.0,300,-4.7,59739.0,1,0,1,0
3,Belgia,2018Q4,117190.0,0.80,119514.0,12.08,108.56,124.4,-2327.0,290,3.0,60354.0,1,0,1,0
4,Belgia,2019Q1,117479.0,0.67,118334.0,13.07,109.56,106.9,-1267.0,284,-8.3,60445.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,Regatul Unit,2019Q3,618880.6,0.60,612293.0,6.20,111.40,110.5,-40963.8,1333,-2.7,396191.1,0,1,0,1
304,Regatul Unit,2019Q4,649860.6,0.71,644928.0,7.38,111.50,109.0,12985.9,1231,-4.0,414269.6,0,1,0,1
305,Regatul Unit,2020Q1,642870.4,0.55,629401.0,9.13,111.76,110.2,-6258.0,1321,-0.3,402783.4,0,1,0,1
306,Regatul Unit,2020Q2,536776.7,0.25,514841.0,28.12,111.76,78.1,-13648.7,1290,-25.9,305501.4,0,1,0,1
307,Regatul Unit,2020Q3,596839.9,0.19,583738.0,NaN,107.55,97.9,-36610.5,1650,NaN,355555.6,0,1,0,1

In [8]:
countries_list = df2['Country '].unique()
countries_list

array(['Belgia', 'Bulgaria ', 'Cehia ', 'Danemarca', 'Germania',
       'Estonia', 'Irlanda', 'Grecia', 'Spania', 'FranÈ›a', 'CroaÈ›ia',
       'Italia', 'Cipru', 'Letonia', 'Lituania', 'Luxembourg', 'Ungaria ',
       'Malta', 'TÄƒrile de Jos', 'Austria ', 'Polonia', 'Portugalia',
       'Romania', 'Slovenia', 'Slovacia', 'Finlanda', 'Suedia',
       'Regatul Unit'], dtype=object)

In [9]:
country_index_list = [i for i in range(1, 29)]
country_index_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [10]:
country_dict = dict(zip(countries_list, country_index_list))

In [11]:
country_dict

{'Belgia': 1,
 'Bulgaria ': 2,
 'Cehia ': 3,
 'Danemarca': 4,
 'Germania': 5,
 'Estonia': 6,
 'Irlanda': 7,
 'Grecia': 8,
 'Spania': 9,
 'FranÈ›a': 10,
 'CroaÈ›ia': 11,
 'Italia': 12,
 'Cipru': 13,
 'Letonia': 14,
 'Lituania': 15,
 'Luxembourg': 16,
 'Ungaria ': 17,
 'Malta': 18,
 'TÄƒrile de Jos': 19,
 'Austria ': 20,
 'Polonia': 21,
 'Portugalia': 22,
 'Romania': 23,
 'Slovenia': 24,
 'Slovacia': 25,
 'Finlanda': 26,
 'Suedia': 27,
 'Regatul Unit': 28}

In [12]:
#df2['Country '] = df2['Country '].map(country_dict)

/Users/ionut/.venvs/datas37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df2

,Country,Year,GDP in euro,Interest rate cut,Per capita income,Saving rate,Ownership,Capital mobilization,Balance of payments,Unemployment rate,Budget deficit or suplus,Consumption,Eurozone,Non-euro,Pre-covid,Post-covid
1,1,2018Q2,114752.0,0.81,115494.0,11.39,107.27,107.7,2168.0,304,5.0,59380.0,1,0,1,0
2,1,2018Q3,115127.0,0.72,116002.0,11.53,109.03,102.8,-3162.0,300,-4.7,59739.0,1,0,1,0
3,1,2018Q4,117190.0,0.80,119514.0,12.08,108.56,124.4,-2327.0,290,3.0,60354.0,1,0,1,0
4,1,2019Q1,117479.0,0.67,118334.0,13.07,109.56,106.9,-1267.0,284,-8.3,60445.0,1,0,1,0
5,1,2019Q2,118592.0,0.34,120865.0,13.57,110.21,112.2,778.0,272,2.6,60993.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,28,2019Q2,630981.9,1.02,628850.0,6.48,110.14,103.2,-33678.6,1252,-4.2,405410.6,0,1,0,1
303,28,2019Q3,618880.6,0.60,612293.0,6.20,111.40,110.5,-40963.8,1333,-2.7,396191.1,0,1,0,1
304,28,2019Q4,649860.6,0.71,644928.0,7.38,111.50,109.0,12985.9,1231,-4.0,414269.6,0,1,0,1
305,28,2020Q1,642870.4,0.55,629401.0,9.13,111.76,110.2,-6258.0,1321,-0.3,402783.4,0,1,0,1
306,28,2020Q2,536776.7,0.25,514841.0,28.12,111.76,78.1,-13648.7,1290,-25.9,305501.4,0,1,0,1

In [14]:
def strip_quarter(string):
    new_str = string[-2:]
    return new_str

In [15]:
def strip_year(string):
    new_str = string[:4]
    return new_str

In [16]:
df2['Quarter'] = df2['Year'].apply(strip_quarter)

/Users/ionut/.venvs/datas37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df2['Year'] = df2['Year'].apply(strip_year)
df2['Year'] = df2['Year'].astype(str)

/Users/ionut/.venvs/datas37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/ionut/.venvs/datas37/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
#df2['Year'] = pd.to_datetime(df2['Year'], format='%Y')
"""from datetime import datetime as dt
def year_conv(string):
    result= dt.strptime(string, '%Y')
    return result"""

"from datetime import datetime as dt\ndef year_conv(string):\n    result= dt.strptime(string, '%Y')\n    return result"

In [19]:
"""for row in range(1, df2.shape[0]):
    if ':' in str(df2.at[row, 'Saving rate']):
        print(row)"""

"for row in range(1, df2.shape[0]):\n    if ':' in str(df2.at[row, 'Saving rate']):\n        print(row)"

In [20]:
df2['Saving rate'] = df2['Saving rate'].astype('float64')

/Users/ionut/.venvs/datas37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
#df2['Year'] = df2['Year'].apply(year_conv)

In [22]:
df2.dtypes

Country                       int64
Year                         object
GDP in euro                 float64
Interest rate cut           float64
Per capita income           float64
Saving rate                 float64
Ownership                   float64
Capital mobilization        float64
Balance of payments         float64
Unemployment rate             int64
Budget deficit or suplus    float64
Consumption                 float64
Eurozone                      int64
Non-euro                      int64
Pre-covid                     int64
Post-covid                    int64
Quarter                      object
dtype: object

In [ ]:
df3 = pd.get_dummies(df2, prefix=['c_','year_', 'qtr_'])
df3

In [ ]:
df3.columns

For 'Ownership' as dependent variable - see how corectly it is predicted by all others
- separam parametrul si il prezicem pe baza celorlalti

In [ ]:
X = df3[['Interest rate cut', 'Per capita income', 'Saving rate',
       'Ownership', 'Capital mobilization', 'Balance of payments',
       'Unemployment rate', 'Budget deficit or suplus', 'Consumption',
       'Eurozone', 'Non-euro', 'Pre-covid', 'Post-covid', 'c__Austria ',
       'c__Belgia', 'c__Bulgaria ', 'c__Cehia ', 'c__Cipru', 'c__CroaÈ›ia',
       'c__Danemarca', 'c__Estonia', 'c__Finlanda', 'c__FranÈ›a', 'c__Germania',
       'c__Grecia', 'c__Irlanda', 'c__Italia', 'c__Letonia', 'c__Lituania',
       'c__Luxembourg', 'c__Malta', 'c__Polonia', 'c__Portugalia',
       'c__Regatul Unit', 'c__Romania', 'c__Slovacia', 'c__Slovenia',
       'c__Spania', 'c__Suedia', 'c__TÄƒrile de Jos', 'c__Ungaria ',
       'year__2018', 'year__2019', 'year__2020', 'qtr__Q1', 'qtr__Q2',
       'qtr__Q3', 'qtr__Q4']]

In [ ]:
y = df3[['GDP in euro ']]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.65,test_size=0.35, random_state=1)

In [ ]:
c = LinearRegression()

In [ ]:
c.fit(X_train, y_train)

In [ ]:
y_pred = c.predict(X_test)

In [ ]:
y_pred 
#astea-s valorile prezise de model pentru'Ownership' ca variabila dependenta

In [ ]:
c.score(X_test, y_test)
#asta e The R2 (R squared) score

In [ ]:
c.coef_
#asta e matricea de coeficienti Estimated coefficients for the linear regression problem. 
#If multiple targets are passed during the fit (y 2D), this is a 2D array of shape (n_targets, n_features)

In [ ]:
c.intercept_

In [ ]:
dir(c)

In [ ]:
import statsmodels.api as sm

In [ ]:
Xs = sm.add_constant(X)

In [ ]:
model = sm.OLS(y, Xs)

In [ ]:
results = model.fit()

In [ ]:
print(results.summary())

In [ ]:
df_euro = df[df['Eurozone'] == 1]

In [ ]:
df_euro = df_euro.dropna()

In [ ]:
df_non_euro = df[df['Eurozone'] == 0]

In [ ]:
df_non_euro = df_non_euro.dropna()

In [ ]:
df_precov = df[df['Pre-covid'] == 1]

In [ ]:
df_precov = df_precov.dropna()

In [ ]:
df_postcov = df[df['Pre-covid'] == 0]

In [ ]:
df_postcov =